@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;
}

.header-icons {
    position: relative;
    color: #000;
  }
  
  .search-icon,
  .user-icon,
  .cart-icon {
    position: absolute;
    top: 0;
    font-size: 1.1em;
  }
  
  .user-icon {
    right: -165px;
  }

  .search-icon{
    right: -215px;
  }

  .cart-icon {
    right: -265px;
  }
  
  .cart-count {
    position: absolute;
    top: -14px;
    right: -12px;
    color: white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    line-height: 20px;
  }

  h1{
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

h2{
    font-size: 46px;
    line-height: 54px;
    color:#222
}

h4{
    font-size: 20px;
    color: #222;
}

h6{
    font-weight: 700;
    font-size: 12px;
}

p{
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}

.section-p1{
    padding: 40px 80px;;
}

.section-m1{
    margin: 40px 0;
}

button.normal{
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: #000;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
}

button.white{
    font-size: 13px;
    font-weight: 600;
    padding: 11px 30px;
    color: #fff;
    background-color: transparent;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid #fff;
    outline: none;
    transition: 0.2s;
}

body{
    width: 100%;
}

#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background:white;
    box-shadow: 0 5px 15px rgba(0,0,0,0.06);
    z-index: 999;
    position: relative;
    top: 0;
    left: 5;
}

#header .logo{
	width:290px;
	height: 40px;
    /* margin-left: 90px; */
    /* margin-top: 8px; */
    /* margin-bottom: 10px; */
    /* align-items: center; */
    background-color: white;    
}

#header{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}
 
#header li {
    list-style: none;
    padding: 0 30px;
    position: relative;
}

#header li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.3s ease;
    margin-left: 5px;
    margin-bottom: 10px;
}

#header li a:hover,
#header li a:active{
    /* color: #088178; */
    /* text-decoration: underline; */
    border-bottom: 2px solid black;
    padding-bottom: 19px;
}

#header li a:active::after,
#header li a:active::after{
    content:"";
    width: 30%;
    height: 2px;
    background: #088178;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

.mega-box{
    position: absolute;
    top: 80px;
    width: 50%;
    left: 380px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
}


.mega-box .content{
    background: white;
    padding: 25px 20px;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.dropdown:hover .mega-box{
    display: block;
    top: 58.2px;
    opacity: 1;
    visibility: visible;
    transition: all 0.3s ease;
} 

.content .row{
    width: calc(25%-30px);
    line-height: 45px;
}

.content .row header{
    color: black;
    font-size: 20px;
    font-weight: 700;
}

.content .row .mega-links{
    margin-left: -26px;
    border-left: 1px solid rgba(255,255,255,0.09);
}

.content .row:nth-child(1),
.content .row:nth-child(2){
    border-left: 0px;
} 
.row .mega-links li{
    padding: 0 5px;
}

.row .mega-links li a{
    padding:0 20px ;
    color: black;
    font-size: 10px;
    display: block;
}

/* 
footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
footer .col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

footer .extra{
    padding-top: 35px;
}

footer .logo{
    margin-bottom: 30px;
}

#footer .logo{
	width:35%;
	height:100px;
}

footer h4{
    font-size: 14px;
    padding-bottom: 20px;
}

footer p{
    font-size: 13px;
    margin: 0 0 8px 0;
}

footer a{
    font-size: 13px;
    text-decoration: none;
    color: #222;
    margin: 10px;
}

footer .follow{
    margin-top: 20px;
}

footer .follow i{
    color: #465b52;
    padding-right: 4px;
    cursor: pointer;
}

footer .install .row img{
    border: 1px solid #088178;
    border-radius: 6px;
}

footer .install img{
    margin: 10px 0 15px 0;
}

footer .follow i:hover,

footer a:hovero{
    color: #088178;
} */


/* start media query */
@media (max-width:799px) {
    /*doubt .section-p1*/
    .section-p1{
        padding: 40px 80px;
    }
    #navbar{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color: #E3E6F3;
        box-shadow: 0 40px 60px rgba(0,0,0,0.1);
        padding: 80px 0 0 10px;
        transition: 0.3s;
    }

    #navbar.active{
        right: 0px;
    }

    #navbar li{
        margin-bottom: 25px;
    }

    #mobile{
        display: flex;
        align-items: center;
    }

    #mobile i{
        color: #1a1a1a;
        font-size: 24px;
        padding-left: 20px;
    }

    #close{
        display: initial;
        position: absolute;
        top: 30px;
        left: 30px;
        color: #222;
        font-size: 24px;
    }

    #lg-bag{
        display: none;
    }

    #hero{

        height: 70vh;
        padding: 0 80px;
        background-position: top 30% right 30%;
    }

    #feature{
        justify-content: center;
    }

    #feature .fe-box{
        margin: 15px 15px;
    }

    #product1 .pro-container{
        justify-content: center;
    }
    #product1 .pro{
        margin: 15px;
    }

    #banner{
        height: 20vh;
    }

    #sm-banner .banner-box{
        min-width: 100%;
        height: 30vh;
    }

    #banner3{
        padding: 0 40px;
    }

    #banner3 .banner-box{
        width: 28%;
    }

    #newsletter .form{
        width: 70%;
    }
}

@media (max-width: 477px) {
    .section-p1{
        padding: 20px;
    }
    #header{
        padding: 10px 30px;
    }

    h1{
        font-size: 38px;
    }

    h2{
        font-size: 32px;
    }

    #hero{
        padding: 0 20px;
        background-position: 55%;
    }

    #feature{
        justify-content: space-between;
    }

    #feature .fe-box{
        width: 155px;
        margin: 0 0 15px 0;
    }

    #product1 .pro{
        width: 100%;
    }

    #banner{
        height: 40vh;
    }

    #sm-banner .banner-box{
        height: 40vh;
    }

    #sm-banner .banner-box2{
        margin-top: 20px;
    }

    #banner3{
        padding: 0 20px;
    }

    #banner3 .banner-box{
        width: 100%;
    }

    #newsletter{
        padding: 40px 20px;
    }

    #newletter .form{
        width: 100%;
    }

    footer .copyright{
        text-align: start;
    }
}






/*club merch*/

#clubmerch{
    background-color: black;
    height: 110vh;
    width: 100vw;
}

#clubmerch h1{
    color: skyblue;
    text-align: center;
    padding-top: 100px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 50px;
    text-shadow: 2px 2px 0 red, 4px 4px 0 red;
}

#clubmerch h3{
    color: white;
    padding-top: 100px;
    font-size: 30px;
    padding-bottom: 25px;
    text-shadow: 2px 2px 0 red;
}

#clubmerch h5{
    color: white;
    text-align: left;
    line-height: 1.6;
    margin-left: 15px;
    padding-bottom: 45px;
    text-shadow: 0px 0px 0 skyblue;
    font-size: 1.2em;
}


.white1{
    background-color: #2596be;
    border-radius: 7px;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    margin-left: 26%;
    margin-top: 30px;   
    justify-content: center;
    display: inline-flex;
    text-shadow: 0.5px 0.5px 0 red;
}

.white2{
    background-color: #2596be;
    border-radius: 7px;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    margin-left: 50px;
    margin-top: 30px;   
    justify-content: center;
    display: inline-flex;
    text-shadow: 0.5px 0.5px 0 red;
}

button:hover {
    background-color: royalblue;
    color: white;
}


footer .copyright{
    text-align: center;
    font-size: 11.5px;
    background-color: black;
    color: white;
}

html{
    background-color: black;
}


.content_section {
    padding: 20px 100px;
    display: block;
    position: relative;
    height: fit-content;
    width: 100vw - 200px
}

.section-heading {
    font-weight: 600;
    font-size: 48px;
    padding: 10px;
    display: inline-block;
    margin: 30px auto 20px;
    text-align: center
}

.light {
    background-color: var(--color4);
    color: var(--color1)
}

.dark {
    color: var(--color4);
    background-color: var(--color1)
}

.content-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0 30px;
    padding: 10px
}

.about-content {
    font-weight: 400;
    line-height: 1.8rem;
    font-size: 18px;
    display: inline-block;
    width: 850px;
    padding: 24px;
    color: #1b1b3a;
    border-radius: 15px;
    background: #fff;
    box-shadow: 6px 6px 17px #dbdbdb,-6px -6px 17px #fff
}

.cube-animation {
    width: 420px;
    height: 340px;
    border-radius: 15px
}

#about-section{
    color: black;
    background-color: white;
}

.section-heading {
    position: relative;
    display: inline-block;
}
  
  .section-heading::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: transparent;
    transition: background-color 0.3s ease-in-out;
}
  
  .section-heading:hover::after {
    background-color: skyblue;
}
